<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.applitools.hackathon.ufg.test.listener.TestNGListener" />
	</listeners>
	<test name="Firefox Test Laptop V1">
		<parameter name="browser" value="Firefox" />
		<parameter name="device" value="Laptop" />
		<parameter name="version" value="1" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV1" />
		</classes>
	</test>
	<test name="Chrome Test Laptop V1">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="Laptop" />
		<parameter name="version" value="1" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV1" />
		</classes>
	</test>
	<test name="Edge chromium Test Laptop V1">
		<parameter name="browser" value="Edge" />
		<parameter name="device" value="Laptop" />
		<parameter name="version" value="1" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV1" />
		</classes>
	</test>
	<test name="Firefox Test Tablet V1">
		<parameter name="browser" value="Firefox" />
		<parameter name="device" value="Tablet" />
		<parameter name="version" value="1" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV1" />
		</classes>
	</test>
	<test name="Chrome Test Tablet V1">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="Tablet" />
		<parameter name="version" value="1" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV1" />
		</classes>
	</test>
	<test name="Edge chromium Test Tablet V1">
		<parameter name="browser" value="Edge" />
		<parameter name="device" value="Tablet" />
		<parameter name="version" value="1" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV1" />
		</classes>
	</test>
	<test name="Chrome Test Mobile V1">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="Mobile" />
		<parameter name="version" value="1" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV1" />
		</classes>
	</test>
	<!-- 
	<test name="Chrome Test UFG V1">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="grid" />
		<parameter name="version" value="1" />
		<classes>
			<class name="com.applitools.hackathon.ufg.test.ModernTestV1" />
		</classes>
	</test>
	 -->
	<test name="Firefox Test Laptop V2">
		<parameter name="browser" value="Firefox" />
		<parameter name="device" value="Laptop" />
		<parameter name="version" value="2" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV2" />
		</classes>
	</test>
	<test name="Chrome Test Laptop V2">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="Laptop" />
		<parameter name="version" value="2" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV2" />
		</classes>
	</test>
	<test name="Edge chromium Test Laptop V2">
		<parameter name="browser" value="Edge" />
		<parameter name="device" value="Laptop" />
		<parameter name="version" value="2" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV2" />
		</classes>
	</test>
	<test name="Firefox Test Tablet V2">
		<parameter name="browser" value="Firefox" />
		<parameter name="device" value="Tablet" />
		<parameter name="version" value="2" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV2" />
		</classes>
	</test>
	<test name="Chrome Test Tablet V2">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="Tablet" />
		<parameter name="version" value="2" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV2" />
		</classes>
	</test>
	<test name="Edge chromium Test Tablet V2">
		<parameter name="browser" value="Edge" />
		<parameter name="device" value="Tablet" />
		<parameter name="version" value="2" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV2" />
		</classes>
	</test>
	<test name="Chrome Test Mobile V2">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="Mobile" />
		<parameter name="version" value="2" />
		<classes>
			<class
				name="com.applitools.hackathon.ufg.test.TraditionalTestV2" />
		</classes>
	</test>
	<!-- 
	<test name="Chrome Test UFG V2">
		<parameter name="browser" value="Chrome" />
		<parameter name="device" value="grid" />
		<parameter name="version" value="2" />
		<classes>
			<class name="com.applitools.hackathon.ufg.test.ModernTestV2" />
		</classes>
	</test>
	 -->
</suite> <!-- Suite -->


<!-- <suite name="Parallel test suite"> <test name="Firefox Test"> <parameter 
	name="browser" value="Firefox"/> <parameter name="width" value="1200"/> <classes> 
	<class name="com.pack.ParallelTest"/> </classes> </test> <test name="Chrome 
	Test"> <parameter name="browser" value="chrome"/> <parameter name="width" 
	value="1200"/> <classes> <class name="com.pack.ParallelTest"/> </classes> 
	</test> <test name="Edge chromium Test"> <parameter name="browser" value="edge"/> 
	<parameter name="width" value="1200"/> <classes> <class name="com.pack.ParallelTest"/> 
	</classes> </test> <test name="Firefox Test"> <parameter name="browser" value="Firefox"/> 
	<parameter name="width" value="768"/> <classes> <class name="com.pack.ParallelTest"/> 
	</classes> </test> <test name="Chrome Test"> <parameter name="browser" value="chrome"/> 
	<parameter name="width" value="768"/> <classes> <class name="com.pack.ParallelTest"/> 
	</classes> </test> <test name="Edge chromium Test"> <parameter name="browser" 
	value="edge"/> <parameter name="width" value="768"/> <classes> <class name="com.pack.ParallelTest"/> 
	</classes> </test> <test name="Chrome Test"> <parameter name="browser" value="chrome"/> 
	<parameter name="width" value="500"/> <classes> <class name="com.pack.ParallelTest"/> 
	</classes> </test> </suite> -->


<!-- mvn test -Dsurefire.suiteXmlFiles=testng.xml -->